@let weather = weather$ | async ;

@if (weather) {
  <div class="container">
    <mat-grid-list [cols]="1" [rowHeight]="300">
      <mat-grid-tile>
        <mat-card class="w-100 h-100" appearance="outlined">
          <mat-card-content>
            <img class="example-header-image" [ngSrc]="weather.getIcon" [height]="120" [width]="120"  alt="icon"/>
            <h2>{{ weather.getTemperatureInCelsius }}°C</h2>
            <span>{{ weather.getCityDetail }}</span>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="3" [rowHeight]="'100px'" [gutterSize]="'1.5rem'" class="mt-3">
      <mat-grid-tile>
        <mat-card class="w-100 h-100" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ weather.getWeatherDetail.pressure }}</mat-card-title>
              <mat-card-subtitle>Pressure</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="w-100 h-100" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ weather.getWeatherDetail.humidity }}%</mat-card-title>
              <mat-card-subtitle>Humidity</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="w-100 h-100" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ weather.getWind.speed }}</mat-card-title>
              <mat-card-subtitle>Wind</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
}
